*.md filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.python-version filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/utilitaires/mlruns/1/models/m-009b6b2817dc4461ab4e1c33873ffbcf/artifacts/MLmodel filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
/utilitaires/mlruns/1/models/m-51941b4898a541b98890fc1c0736ba8e/artifacts/MLmodel filter=lfs diff=lfs merge=lfs -text
/utilitaires/mlruns/1/models/m-9f90653aa14341a6875f79cfab894d83/artifacts/MLmodel filter=lfs diff=lfs merge=lfs -text
/utilitaires/mlruns/1/models/m-ee1c77361e62416796cc910a1432cc6b/artifacts/MLmodel filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
Dockerfile !text !filter !merge !diff
*.yml !text !filter !merge !diff
requirements.txt !text !filter !merge !diff
pyproject.toml !text !filter !merge !diff
*.py !text !filter !merge !diff
README.md !text !filter !merge !diff
* !text !filter !merge !diff
